# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
/.gas-snapshot
/.idea/.gitignore
/.idea/modules.xml
/.idea/rseth_attack.iml
/.idea/vcs.xml
